<H1>Angular ToDo App</H1>
<div class="login-page">
  <div style="margin-top: 5%;">
    
    <mat-card class="mt-3" style="
    padding: 10px;">
      <H2 style="text-align: center;">Login</H2>
      <form [formGroup]="loginForm">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input formControlName = "email" type="email" matInput placeholder="Placeholder">
          <mat-icon matSuffix color="primary">email</mat-icon>
          <mat-hint></mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input formControlName = "password" type="password" matInput placeholder="Placeholder">
        <mat-icon matSuffix color="primary">lock</mat-icon>
        <mat-error *ngIf="wrongPassword == true">Email or password incorrect</mat-error>
        <mat-hint></mat-hint>
    </mat-form-field>
    <button class="login-button" (click)="login()" mat-raised-button [disabled] = "loginForm.invalid" color="primary"  >Login</button>
      </form>
      <p style="text-align: center;">Don't have account ? <a routerLink="/signup">sign Up</a></p><br>
    </mat-card>
  </div>    
</div>
  